<%= erb(:header, :layout => false) %>
<%= erb(:notice, :layout => false) %>

<% if session[:gender].nil? %>
	<div class="alert alert-danger" style="text-align:right;">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<span>Entrance Selection:</span>
		<span><%= erb(:entrance, :layout => false) %></span>
	</div>
<% else %>	
	<div class="alert alert-info" style="text-align:right;display:none;">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<span>Entrance Switch:</span>
		<span><%= erb(:entrance, :layout => false) %></span>
	</div>
<% end %>

<table class="table">
	<thead><tr><th>#</th>
		<th>
			<a href="/logout" class="btn btn-danger pull-right">Logout</a>
			<a href="/room/create" class="btn btn-info pull-right">Create Room</a>
			<% if session[:room_id] %>
			<a href="/iMessage/<%= session[:room_id]%>" class="btn btn-link pull-right"><%= session[:room_name] %></a>
			<% end %>
			
			</th>
	</tr></thead>
	<tbody>
	<% @rooms.each_with_index do |room,index| %>
		<tr><td style="vertical-align: middle;"><%= index+1 %></td><td>
			<div class="navbar-inner">
			                
		<form method="post" action="/room/enter" name="form_<%=index%>" class="form-inline" style="margin: 10px 0 10px 0px;">
		  <label style="width:200px;"><i class="<%= icon_class(index) %>"></i> <%= room["name"] %> </label>
		  <input type="hidden" name="room_id" value='<%= room["objectId"] %>'>
		  <input type="password" name="password" class="input" placeholder="Password">
		  <button type="submit" class="btn">Enter</button>
		</form>
		
		</div>
		</td>
		
		</tr>
	<% end %>
	</tbody>
	<tfooter>
		<tr><td colspan="2">
			<ul class="pager">
			  <li class="previous">
			    <a href="/rooms?p=<%= ((params[:p].to_i-1)>0 ? (params[:p].to_i-1):1) %>">&larr; Older</a>
			  </li>
			  <li class="next">
			    <a href="/rooms?p=<%= (params[:p].to_i+1) %>">Newer &rarr;</a>
			  </li>
			</ul>
		</td></tr>
	</tfooter>
</table>